<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:xmlsn="http://schemas.android.com/apk/res-auto"
    package="com.example.tacademy.ddakgi">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />
    // 카메라 후레시
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:icon">
        <activity android:name=".view.SplashIntro.MainActivity" />
        <activity android:name=".base.HomeActivity" />
        <activity android:name=".view.Filter.FilterActivity" />
        <activity android:name=".view.SplashIntro.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Write.act.WriteRoomActivity" />
        <activity android:name=".view.Write.act.WriteMateActivity" />
        <activity android:name=".view.Search.act.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Write.act.WriteRoomImage" />
        <activity android:name=".view.Write.act.WriteRoomIdentify" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <!-- google map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!-- kakao login -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".view.Write.act.WriteLocateActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".util.GpsCheckActivity" />

        <service
            android:name=".Service.GpsDetecting"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".view.Help.HelpActivity" />
        <activity android:name=".view.Setting.SettingActivity" />
        <activity android:name=".view.Write.act.WriteMateIdentify" />
        <activity android:name=".view.Home.act.HomeRoomDetailPageActivity" />
        <activity android:name=".view.Home.act.HomemateDetailPageActivity" />
        <activity android:name=".view.SignUp.act.SignUpActivity">
            <data
                android:host="@string/kakaolink_host"
                android:scheme="@string/kakao_scheme" />
        </activity>
        <activity android:name=".view.SignUp.act.RegisterProfileActivity" />
        <activity android:name=".view.SignUp.act.RegisterLifeStyleActivity" />
        <activity android:name=".view.SignUp.act.TermsActivity" />
        <activity android:name=".view.My.ModifyProfileActivity" />
        <activity android:name=".view.Chat.ChatRoomActivity" />
        <activity android:name=".view.Report.reportActivity"></activity>
    </application>

</manifest>